*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: silver;
}
.container{
    width: 80%;
    margin: auto;
    background: #fff;
}
header{
    display: flex;
    align-items: center;

}
header img{
    width: 200px;
}
h1{
    flex : 1;
    text-align: center;
    background: aqua;
    padding: 50px;
}
h2{
    color: aqua;
}
p, li{
    padding: 5px;
}
section{
    padding-left: 50px;
}